/* cabin, kelly slab, inter, roboto, dosis, and for the titles we have montserrat */
/* @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,600;1,400;1,600&family=Dosis:wght@200;300;400;500;600;700;800&family=Kelly+Slab&display=swap&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap&family=Roboto:wght@100;300;400;500;700;900&display=swap&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
/* cabin, dosis */
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,600;1,400;1,600&family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
/* material icons */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.material-icons {
  font-size: unset;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  @apply bg-stone-900;
}

.pixelated {
  image-rendering: pixelated;
}

p {
  @apply mb-2;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
